* {
  margin: 0px;
  padding: 0px;
}

#wall {
  width: 970px;
  margin: 0px auto;
  background: url(../Images/wall.png) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 font-family: 'Comic Sans';
}

* {
  margin: 0px;
  padding: 0px;
}

#container {
  width: 970px;
  margin: 0px auto;
  padding: 30px;
  text-align: center;
  font-family: Georgia;
}

form {
  width: 530px;
  margin: 0px auto;
  background: gray;
  padding: 25px;
}

label {
  display: block;
  text-align: right;
}

input {
  padding: 0px 80px;
  margin-left: 40px;
  text-align: center;
  width: 185px;
}

table {
  width: 600px;
  margin: 0px auto;
  background: gray;
  padding: 25px;
}

th {
  font-weight: bold;
  font-size: 20px;
}

h3 {
  margin-top: 20px;
}

