* {
  margin: 0px;
  padding: 0px;
}

#wall {
  width: 970px;
  margin: 0px auto;
  background: url(../Images/wall.png) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 font-family: 'Comic Sans';
}

* {
  margin: 0px;
  padding: 0px;
}

#container {
  width: 970px;
  margin: 0px auto;
  padding: 30px;
  text-align: center;
  font-family: Georgia;
}

#header {
  height: 75px;
  color: #003AEC;
  font-weight: bolder;
  padding: 0px 10px;
}

#welcome {
  display: inline-block;
  width: 600px;
  text-align: left;
  font-size: 35px;
}

#body {
  margin: 20px 60px;
}

#abs {
  border-radius: 5px;
  width: 120px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  margin-left: 685px;
  padding: 0px 0px;
  color: white;
}

.header {
  display: inline-block;
  text-align: right;
  margin-right: 45px;
  font-size: 20px;
  padding-left: 30px;
}

.post {
  margin-left: 0px;
  background-color: rgba(247, 247, 247, 0);
  padding: 0px;
}

.post input {
  background-color: blue;
}

.flash {
  width: 250px;
  font-weight: bold;
  font-size: 20px;
  color: red;
  text-align: center;
  background-color: black;
  margin: 0px auto;
}

.message {
  display: inline-block;
  width: 800px;
  height: 150px;
  border: 2px solid black;
}

p.pDisplay {
  padding-left: 22px;
  padding-top: 0px;
  margin-bottom: 10px;
}

form {
  width: 800px;
  margin: 0px auto;
  background: gray;
  padding: 25px;
}

label {
  display: block;
  text-align: right;
  margin-right: 200px;
}

input {
  padding: 0px 80px;
  margin-left: 40px;
  text-align: center;
  width: 185px;
}

table {
  width: 600px;
  margin: 0px auto;
  background: gray;
  padding: 25px;
}

th {
  font-weight: bold;
  font-size: 20px;
}

h3 {
  margin-top: 20px;
}

