<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>Bricks</title>
    <meta name="description" content="Create a wall/forum page where users will be able the post a message and see the message displayed by others users. Stores the messages in a table called 'messages' and retrieve the messages from the database.">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
  </head>
 <body>
    <div id="container">
      <h1>The Wall's Login!</h1>
      <br>
      <h2>Welcome Back.</h2>
      <form action='/login' method='post'>
        <label>Email Address:
          <input type='text' name='email' placeholder='Email Address'>
        </label>
        <label>Password:
          <input type='password' name='password' placeholder='Enter Password'>
        </label>
        <input type='submit' value='Lay Brick (login)'>
      </form>
      <br>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <p class='flash'>{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </body>
</html>

