<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>The Wall</title>
    <meta name="description" content="Create a wall/forum page where users will be able the post a message and see the message displayed by others users. Stores the messages in a table called 'messages' and retrieve the messages from the database.">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
  </head>
  <body>
    <div id="wall">
      <div id='header'>
        <h3 id='welcome'>CodingDojo Wall</h3>
        <h4 class='header'>Welcome {{ session['first_name'] }}</h4>
        <p class='header'><a href='/logout'>log off</a></p>
      </div>
      <div id="body">
        <h2>Scribble some Absolutes</h2>
        <form  class='post' action='/message' method='post'>
          <textarea class='message' name='message'></textarea>
          <input type='hidden' name='prophet' value={{ session['user_id'] }}>
          <input id='abs' type='submit' value='Share Epiphany'>
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
            <p class='flash'>{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
    </div>
  </body>
</html>
