<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>The Wall</title>
    <meta name="description" content="Create a wall/forum page where users will be able the post a message and see the message displayed by others users. Stores the messages in a table called 'messages' and retrieve the messages from the database.">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
  </head>
  <body>
    <div id="wall">
      <h3>How can you have any meat if you don't eat your pudding?</h3>
    </div>
  </body>
</html>
